<html>
    <head>
    </head>
    <body>
        <h3>{{ message }}</h3>
        <h2> <!--#echo var="DATE_LOCAL" --></h2>
        <h1>It worked! {% if message %}{{ message }} {% endif %}</h1>
        <!--#include virtual="/vitua/home/ssitest" -->
    </body>
</html>

